.image6 {
  background:
    linear-gradient(
      90deg,
      rgba(17, 4, 199, 0.418) 0%,

      rgba(22, 8, 217, 0.418) 100%
    ),
    url(/images/3D_Img1.webp);
}

.image7 {
  background:
    linear-gradient(
      90deg,
      rgba(17, 4, 199, 0.418) 0%,

      rgba(22, 8, 217, 0.418) 100%
    ),
    url(/images/3D_Img2.jpg);
}

.image8 {
  background:
    linear-gradient(
      90deg,
      rgba(17, 4, 199, 0.418) 0%,

      rgba(22, 8, 217, 0.418) 100%
    ),
    url(/images/3D_Img3.jpg);
}

.image9 {
  background:
    linear-gradient(
      90deg,
      rgba(17, 4, 199, 0.418) 0%,

      rgba(22, 8, 217, 0.418) 100%
    ),
    url(/images/3D_Img4.jpg);
}
.Image10 {
  background-image: url(/images/3D_Modeling.jpeg);

  background-size: cover;
}
.Image11 {
  background-image: url(/images/3D_Texturing&Mapping.jpg);

  background-size: cover;
}
.Image12 {
  background-image: url(/images/3D_Rigging\ &\ Skinning.png);

  background-size: cover;
}
.Image13 {
  background-image: url(/images/3D_Real_Time_Rendering.webp);

  background-size: cover;
}
.Image14 {
  background-image: url(/images/3D_Lighting\ &\ Rendering.jpg);

  background-size: cover;
}
.Image15 {
  background-image: url(/images/3D_Img2.jpg);

  background-size:cover;
  background-repeat: no-repeat;
}
.Image16 {
  background-image: url(/images/3D_Storytelling\ &\ Composition.jpg);

  background-size: cover;
}
.Image17 {
  background-image: url(/images/3D_Problem-Solving\ &\ Adaptability.jpg);

  background-size: cover;
}

/* .image5 {
  background: linear-gradient(
      90deg,
      rgba(17, 4, 199, 0.418) 0%,

      rgba(22, 8, 217, 0.418) 100%
    ),
    url(../images/hands-up.webp);

  background-size: cover;
  transition: 50s;
} */

.image5:hover p {
  display: block;
}

.span {
  width: 40px;
  height: 10px;
  border-bottom: 2px solid blue;
}

.icon-div1:hover {
  background-color: blue;
  color: white;
}

.icon-div1:hover .icon1 {
  background-color: black;
  color: white;
}

.icon-div2:hover {
  background-color: blue;
  color: white;
}

.icon-div2:hover .icon2 {
  background-color: black;
  color: white;
}

.icon-div3:hover {
  background-color: blue;
  color: white;
}

.icon-div3:hover .icon3 {
  background-color: black;
  color: wheat;
}
